<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>OXFORD</title>
    <link rel="stylesheet" type="text/css" href="/static/library.css">
</head>
<body>
 <h1 align="center"> Welcome to jeetu's dictionary </h1>
{% if valid %}
  <div> <form action="" method="post">
    {% csrf_token %}
      <p> Enter the word to be search : <input type="text" name="name"><br>
          <button type="submit">Search</button></p>
</form>
    </div>
{% endif %}
 {% for result in res.results %}
    <h1> {{ result.word }}</h1>
      {% for lexen in result.lexicalEntries %}
          <h3>{{lexen.lexicalCategory}}</h3>
          {% for ent in lexen.entries %}

              {% for sen in ent.senses %}
                  <ul>
                 {% for def in sen.definitions %}
                   <li> {{ def }}<br> </li>
                {% endfor %}
                  </ul>
              {% endfor %}
          {% endfor %}
      {% endfor %}
 {% endfor%}
 {% if valid is False %}
<audio controls>
  <source src="{{ audio }}" type="audio/mpeg">
</audio>
{% endif %}
</body>
</html>