body{
    background-image:  url("/static/book3.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}
h1{
    color: red;
    font-family: "Monotype Corsiva";
    font-size: 60px;
}
h3{
    color: springgreen;
    font-size: 30px;
}
ul{
    font-size: 30px;
    color: #1eff1e;
}
p{
    font-size: 30px;
    color: #1eff1e;
}
div {
    border-radius: 5px;
    padding: 20px;
    width: 50%;

}
input[type=text], select {
    width: 40%;
    padding: 2% 5%;
    margin: 3% 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4%;
    box-sizing: border-box;
}

button[type=submit] {
    width: 30%;
    margin: 5% 55%;
    background-color: #4CAF50;
    color: white;
    padding: 2% 4%;
    border: none;
    border-radius: 4%;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #45a049;
}
p{
    font-size: 30px;
}